@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Local Fonts */
  @font-face {
    font-family: "Helvetica_Neue";
    src: url("../src/assets/fonts/Helvetica_Neue_LT_Std_Medium.otf")
        format("otf"),
      url("../src/assets/fonts/Helvetica_Neue_LT_Std_Bold.otf") format("otf");
  }

  @font-face {
    font-family: "Druk_Wide_Bold";
    src: url("../src/assets/fonts/Druk_Wide_Bold.ttf") format("ttf");
  }

  .drukFont {
    font-family: "Druk_Wide_Bold", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: "Helvetica_Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: "Helvetica_Neue", sans-serif;
  }

  .backdrop {
    background-image: url(../src//assets/img/mainbg.png);
    background-size: cover;
    background-position: center;
  }

  .projectsBackdrop {
    background-image: url(../src//assets/img/ProjectsBg.png);
    background-size: cover;
    background-position: center;
  }

  .filmDirectionBackdrop {
    background-image: url(../src//assets/img/FilmDirection.png);
    background-size: cover;
    background-position: center;
  }

  .heroBottom {
    background: linear-gradient(180deg, #161619 0%, rgba(22, 22, 25, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 208px;
    width: 100%;
  }

  .projectsBottom {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 208px;
    width: 100%;
  }

  .filmDirectionBottom {
    background: linear-gradient(
      180deg,
      #ffffff 3.48%,
      rgba(255, 255, 255, 0) 78.46%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 208px;
    width: 100%;
  }

  .photographyBottom {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    transform: rotate(180deg);
    height: 662px;
    width: 100%;
  }

  .photographyTop {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    height: 278px;
    width: 100%;
  }

  .singlePhotographyBottom {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 175px;
    width: 100%;
  }

  .borderGradient {
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.256),
      rgba(255, 255, 255, 0)
    );
    border: 0;
    padding: 20px 67px;
    position: relative;
    border-width: 2px;
    border-radius: 16px;
    z-index: 1;
  }

  .borderGradient::before {
    background: rgba(21, 21, 24, 0.56);
    content: "";
    display: block;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 14px;
    z-index: -1;
  }

  .playBtn {
    height: calc(100vh - 122px);
  }

  .photographyPort {
    width: calc(100vw - 337px);
  }

  .blurBg {
    backdrop-filter: blur(100px);
  }

  .videoBlur {
    backdrop-filter: blur(14px);
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide p {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* @keyframes photography {
    from {
      bottom: 0%;
    }
    to {
      top: -100%;
    }
  }

  .photography {
    animation: photography 3s linear infinite;
  } */

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-3500px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .slider-wrap {
    animation: scroll 30s ease-in-out infinite;
  }
}
